[submodule "source-github/fzf"]
	path = github-tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "terminal/--force"]
	path = terminal/--force
	url = https://github.com/simmel/urxvt-resize-font.git
[submodule "terminal/urxvt-resize-font"]
	path = terminal/urxvt-resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "terminal/everforest-xresources"]
	path = terminal/everforest-xresources
	url = https://github.com/jef/everforest-xresources.git
[submodule "xmonad/xmonad"]
	path = xmonad/xmonad
	url = https://github.com/xmonad/xmonad.git
[submodule "xmonad/xmonad-contrib"]
	path = xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib.git
