Config { font = "xft:Hack:pixelsize=20:antialias=true:hinting=true"
       , additionalFonts = []
       , bgColor = "#eae0c8"
       , fgColor = "black"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/rangila/.xmonad/xpm/"  -- default: "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "    <icon=haskell_20_dark.xpm/> %cpu% | %memory% * %swap% }\
                    \{ <fc=#ae5a00>%date%</fc>    "
       }
